body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.register_form
{
    width: 55%;
    align-self: center;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px #FFCE00;
}

label, .form-text
{
    display: none !important;
}

input
{
    background-color: #F5CA0A !important;
    color: black !important;
    box-shadow: none !important;
    padding: 0.75rem !important;
}

.btn
{
    font-weight: 700 !important;
    background-color: #F5CA0A !important;
    padding: 0.75rem !important;
}

.btn-danger
{
    background-color: #C00 !important;
}

#div_id_email, #div_id_username, #div_id_password1, #div_id_password2, #div_id_password, #div_id_new_password1, #div_id_new_password2, .text-center
{
    width: 80%;
    margin-top: 5%;
}

::placeholder
{
    color: black !important;
}

.title
{
    font-weight: 700;
    letter-spacing: 10px;
}
