.all_products
{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
}

.product_card
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 23%;
    margin: 1%;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
}

.product_card::before
{
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #ffce00;
    transform: skewY(345deg);
    transition: 0.5s;
}

.product_card:hover::before
{
    top: -70%;
    transform: skewY(390deg);
}

.product_card::after
{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}

.product_card .imgBox
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.product_card .contentBox
{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.product_card .contentBox h3
{
    font-size: 1.125rem;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product_card .contentBox .price
{
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.product_card .contentBox .buy
{
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #ffce00;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    font-weight: 700;
}

.product_card:hover .contentBox .buy
{
    top: 0;
    opacity: 1;
}

.product_img
{
    height: 300px;
    width: auto;
}
